.graybox {
    float: left;
    padding: 10px;
    width: 80%;
    background:grey;
    margin-left: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}